<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="same-origin">
	<meta name="referrer" content="no-referrer" />
	<title>Yananart的照片墙</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/photo/baguetteBox.min.css">
	<link rel="stylesheet" href="/static/photo/thumbnail-gallery.css">
</head>

<body>
	<div class="container">
		<div class="tz-gallery">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="page-header">
						<h1>
							Yananart <small><small>无聊的时候摸鱼写的</small></small>
						</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx1.sinaimg.cn/mw1024/eda947edly1g2hni1f0s5j23sw2iokjo.jpg">
						<img src="https://wx1.sinaimg.cn/mw1024/eda947edly1g2hni1f0s5j23sw2iokjo.jpg" alt="Park">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx3.sinaimg.cn/mw1024/eda947edly1g2hni9ixr3j23sw2ionpg.jpg">
						<img src="https://wx3.sinaimg.cn/mw1024/eda947edly1g2hni9ixr3j23sw2ionpg.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx4.sinaimg.cn/mw1024/eda947edly1g1nioft2pwj23sw2io7wi.jpg">
						<img src="https://wx4.sinaimg.cn/mw1024/eda947edly1g1nioft2pwj23sw2io7wi.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx2.sinaimg.cn/mw1024/eda947edly1g1niolurlij23sw2io7wk.jpg">
						<img src="https://wx2.sinaimg.cn/mw1024/eda947edly1g1niolurlij23sw2io7wk.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx1.sinaimg.cn/mw1024/eda947edly1g1niopk9dwj23sw2ioqv6.jpg">
						<img src="https://wx1.sinaimg.cn/mw1024/eda947edly1g1niopk9dwj23sw2ioqv6.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx3.sinaimg.cn/mw1024/eda947edly1fy0qrhzf1ej219b0u04n1.jpg">
						<img src="https://wx3.sinaimg.cn/mw1024/eda947edly1fy0qrhzf1ej219b0u04n1.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx4.sinaimg.cn/mw1024/eda947edly1fy0qrj0iizj219b0u0khn.jpg">
						<img src="https://wx4.sinaimg.cn/mw1024/eda947edly1fy0qrj0iizj219b0u0khn.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx1.sinaimg.cn/mw1024/eda947edly1fy0qrluksqj219b0u0b29.jpg">
						<img src="https://wx1.sinaimg.cn/mw1024/eda947edly1fy0qrluksqj219b0u0b29.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx1.sinaimg.cn/mw1024/eda947edly1fupo8h75jwj23sw2io7l2.jpg">
						<img src="https://wx1.sinaimg.cn/mw1024/eda947edly1fupo8h75jwj23sw2io7l2.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx1.sinaimg.cn/mw1024/eda947edly1fupo8kzi5gj23sw2iotxn.jpg">
						<img src="https://wx1.sinaimg.cn/mw1024/eda947edly1fupo8kzi5gj23sw2iotxn.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx1.sinaimg.cn/mw1024/eda947edly1frkm0mefprj23sw2io1kx.jpg">
						<img src="https://wx1.sinaimg.cn/mw1024/eda947edly1frkm0mefprj23sw2io1kx.jpg" alt="Bridge">
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="lightbox" href="https://wx4.sinaimg.cn/mw1024/eda947edly1frkm0naz3pj23pp2gk4m4.jpg">
						<img src="https://wx4.sinaimg.cn/mw1024/eda947edly1frkm0naz3pj23pp2gk4m4.jpg" alt="Bridge">
					</a>
				</div>
			</div>

		</div>
	</div>

	<br><br>

    <nav class="navbar navbar-default navbar-static-bottom" style="margin-bottom:0px;" role="navigation">
        <div class="col-sm-offset-5 col-sm-2">
			<span id="copyright" class="text-center center-block"><h5>2018-<span th:text="${year}"></span> &copy; Yananart</h5></span>
            <span id="beian" class="text-center center-block"><small>浙ICP备18020377号</small></span>
        </div>
    </nav>

	<script type="text/javascript" src="/static/photo/baguetteBox.min.js"></script>
	<script type="text/javascript">
		baguetteBox.run('.tz-gallery');
	</script>
	<script>
		! function () {
			var t, e = document.title;
			document.addEventListener("visibilitychange", function () {
				document.hidden ? (document.title = "死鬼去哪里了！", clearTimeout(t)) : (document.title = "(つェ⊂)咦!又好了!", t =
					setTimeout(function () {
						document.title = e
					}, 2e3))
			})
		}()
	</script>
</body>

</html>